- name = @fiveoclockhere.timezone.friendly_identifier(true)
- link = "<a href=http://maps.google.com/maps?z=5&t=p&q=#{@fiveoclockhere.latitude.to_f},#{@fiveoclockhere.longitude.to_f}+(#{CGI.escape(name)})>#{name}</a>"
.time 
  It's five o'clock in #{link}.
  
.caveat= "Well, #{@afterfive.strftime('%I:%M:%S %p').gsub(/^0/,'').downcase}, anyway."
