.time 
  It's five o'clock in #{place_link @fiveoclockhere}.
  
%ul.others
  - @other_locations.each_with_index do |location, index|
    %li #{'...' if index == 0}and #{place_link location}#{'.' if index == @other_locations.size-1}
  
.caveat= "Well, #{@afterfive.strftime('%I:%M:%S %p').gsub(/^0/,'').downcase}, anyway."
